@charset "utf-8";
/* CSS Document */
html { height: 100%; font-size:62.5%;background:#2e2db2;}
* { margin: 0; padding: 0; list-style: none; font-style: normal;}
*:focus {outline: none}
body {font-family: "΢���ź�",Tahoma, Geneva, sans-serif; font-size: 1.2rem; color:#333; max-width:640px; margin:0 auto;}
img {border: 0; display:inline-block;}
input, textarea, select, label {font-family: inherit; font-size: inherit; font-weight: inherit;}
a{text-decoration:none;color: #666;}
a:focus{color: #666;}
img{border:0;}
.clear {clear:both; height:0; overflow:hidden;}


/*Ͷ��ҳ*/
.bg-e{ background:#3033ab;}
.bg-f5{ background:#f5f5f5;}
.banner img{ width:100%; display:block;}

.leiji-download{ background:#373737; width:100%; overflow:hidden; display: table;}
.leiji-download > div{ display: table-cell; vertical-align: middle;}
.leiji-download .download-l{ background:#0b0b0b; width:30%; padding:15px 0; text-align:center;}
.leiji-download .download-l img{ width:70%;}
.leiji-download .download-r{ width:70%;  text-align:center; color:#fff; font-size:1.4rem; }
.leiji-download .download-r i{ color:#333; font-size:1.6rem; margin:0 3px 0 3px; background:url(./i-bj.png) no-repeat center center; text-align:center; width:7%; height:30px; line-height:30px; background-size:100%; display:inline-block;}

	/*����ע��ҳ*/
.leiji-download02{ background:#ff5b4f; box-shadow:1px 0 5px 5px rgba(211,211,211,1);}
.leiji-download02 .download-l{ background:#ff7065;}
.leiji-download02 .download-r i{ color:#333; font-size:1.6rem; background:url(/data2/i-bj02.png) no-repeat center center; text-align:center; width:7%; height:30px; line-height:30px;  background-size:100%; display:inline-block;}
	/*end ����ע��ҳ*/

.z-products{ display:block; width:100%; overflow:hidden; background:#7c1ebc;}
.div-fixed {
    position: relative;  z-index:1000;
	
}
.div-fixed .jianjie-button{
	width:100%;
    position: fixed;
    top:0px;
	max-width:640px;
	background:#7c1ebc;
	filter:alpha(opacity=90);  /*支持 IE 浏览器*/
	-moz-opacity:0.90; /*支持 FireFox 浏览器*/
	opacity:0.90;  /*支持 Chrome, Opera, Safari 等浏览器*/
}
.jianjie-button{ width:100%; overflow:hidden; padding:12px 0; position:relative; z-index:1000;}
.jianjie-button img{ width:33.3%; float:left;}

.teshe{ background:#600d98; border-radius:3px; margin:0 8px 8px 8px;}
.teshe-title{ border-bottom:1px solid #6b0ea9; padding:10px 0 10px 7px;}
.teshe-title img{ width:50%;}
.teshe-leir{ font-size:1.1rem; padding:10px; line-height:2rem; color:#fff;}
.teshe-leir span{ color:#d3afeb;}
	/*banner*/
.game-xx-banner{ padding:0 0 0 10px;  margin-bottom:10px;}
.game-xx-banner .swiper-container { width: 100%;  margin: 10px auto; }
.game-xx-banner .swiper-slide {
        text-align: center;
        font-size: 18px;
        width:35%;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
.game-xx-banner .swiper-slide img{
    width: 100%; border-radius:4px;
}	

/*end banner*/
.touf-btn{ width:100%; text-align:center; line-height:22px; padding:20px 0; color:#9f6ec4;}
.touf-btn a{ color:#9f6ec4;}

.about-us{ color:#b881e2; padding:10px;}
.about-us a{ color:#1b1b1b; }
.about-us h3{ width:100%; color:#1b1b1b; font-size:1.8rem; text-align:center; margin-bottom:15px; padding-bottom:10px; box-shadow:0px 1px 0px 0px rgba(255,255,255,1); border-bottom: 1px solid #ccc;}
.about-us h5{ font-size:1.5rem; margin-bottom:10px; color:#1b1b1b;}
.about-us p{ font-size:1.4rem; text-indent:30px; margin-bottom:10px; color:#1b1b1b;}
.about-us ul li{ font-size:1.4rem; color:#1b1b1b;}
.about-us ul li span{  display:inline-block;}
/*end Ͷ��ҳ*/


/*2016-09-06 ͼƬ����Ŵ�*/
.carrousel {
			position: fixed; width:100%; height:100%;
			background-color: rgba(10, 10, 10, 0.8); top:0px; left:0;
			display: none; z-index:1000;
}
.carrousel img{ width:100%; position:absolute; top: 50%;
    left:0%;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%); border-radius:0px;}
/*2016-09-06 end ͼƬ����Ŵ�*/



/*����ע��ҳ*/
.yq-teshe{ padding:0 0 20px 0; overflow:hidden;}
.yq-teshe,.yq-teshe img{ width:100%;}
/*
.yq-teshe img{ width:80%;}
.yq-teshe-list{ width:100%; overflow:hidden; padding-right:1%; box-sizing:border-box; -webkit-box-sizing:border-box;}
.yq-teshe-list ul li{ width:31%; float:left; padding-bottom:5px; margin-left:2%; border:1px solid #f9584b; box-sizing:border-box; -webkit-box-sizing:border-box;  background:#f9584b; border-radius:2px 2px 4px 4px; font-size:1rem; line-height:1.5rem; color:#fff; text-align:center;}
.yq-teshe-list ul li h3{ background:#fff; width:100%; text-align:center; margin-bottom:5px; padding:3% 0;}
.yq-teshe-list ul li h3 img{ width:80%; vertical-align:middle;}
*/
/*end ����ע��ҳ*/


/*input-box*/
.input-box{  width:90%; margin-left:5%;}
.input-box > div{ width:100%; display:inline-block; height:24px; line-height:24px; padding:9px 0; position:relative;}
.input-box-g > div{  background:#fff; border:1px solid #cdcdcd;  border-radius:4px; font-size:14px; margin-bottom:12px;}	

.input-box > div input{
    width: 73%; line-height:24px; 
    border: none;  border-left:1px solid #cdcdcd; text-indent:12px;
    background: none;
    outline:none; color:#333; border-radius:0; font-size:15px;
}
	/*input-��ɫ*/
.input-box > div ::-webkit-input-placeholder { /* WebKit browsers */ 
color: #9a9a9a; font-size:15px;
} 
.input-box > div :-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #9a9a9a;  font-size:15px;
} 
.input-box > div ::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #9a9a9a;  font-size:15px;
} 
.input-box > div :-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #9a9a9a;  font-size:15px;
} 
	/*end input-��ɫ*/	
	
	/*���Сͼ��*/
.input-box > div i{
    display: inline-block;
    width: 25px;
    vertical-align: middle;
    padding: 0 10px;
    height: 30px;
    float: left;
}

.input-box > div i.yy-icon-phone {background: url(/data2/icon-user.png) no-repeat center 0; background-size: auto 25px;}
.input-box > div i.yy-icon-lock {background: url(/data2/icon-lock.png) no-repeat center 0;background-size: auto 25px ;}
	/*end ���Сͼ��*/	
/*end input-box*/

/*��֤��*/
.input-box > div.yanzm input{ width:50%;}
.input-box > div.yanzm span{ position:absolute; top:9px; right:10px; height:24px; border-left:1px solid #b8b8b8; color:#3377f6; padding-left:10px;}
/*end ��֤��*/


.input-button{ width:90%; margin-left:5%; background:#f9584b; border:none; border-radius:4px; font-size:17px; font-weight:bold; color:#fff; text-align:center; height:40px; line-height:40px; box-shadow:0px 2px 0 0px rgba(211,67,55,1); margin-top:10px;}
.foot{ width:90%;  margin-left:5%; color:#353535; text-align:left; font-size:1.2rem; padding:20px 0; overflow:hidden;}
.foot a{ color:#353535; text-decoration:underline;}
.foot .box-r{ color:#3377f6 !important; float:right; text-decoration:underline;}



/*��ʾ*/
.tishi,.mask{ width:100%; height:100%; background:rgba(0,0,0,.8); position:fixed; top:0; left:0; z-index:2000;}
.tishi img{ width:100%; margin-top:10px;}
/*end ��ʾ*/

/*mask*/
.mask-content {
    width: 90%;
    position: fixed;
    left: 5%; top:52%; transform:translateY(-50%); -webkit-transform:translateY(-50%);
    background: #fff;
    border-radius: 8px;
}
.mask-content h3{ font-size:1.8rem; font-weight:normal; color:#1b1b1b; border-bottom:1px solid #e7e7e7; padding:4% 0; text-align:center; position:relative;}
.mask-content h3 .mask-close{ position:absolute; top:-40px; right:5px; height:60px; display:block;}
.mask-content h3 .mask-close img{ height:100%;}
.mask-content .mask-banner{ width:100%; color:#1b1b1b; font-size:1.4rem; margin-bottom:2%; text-align:center;}
.mask-content .mask-banner img{ width:75%;}
.mask-content .mask-button{ width:100%; border:none; background:#ff9b25; font-size:1.8rem; border-radius:0 0 8px 8px; color:#fff; padding:4% 0; text-align:center;}

	/*��װ����*/
.mask-anz {
    width:80%; left:10%;
}
.mask-anz  h3{ font-weight:bold;}	
.mask-wenz{ padding:30px 15px;}	
.mask-wenz p{ text-align:left; text-indent:2.8rem; line-height:1.6em; font-size:1.4rem; margin-bottom:10px; color:#666;}
.mask-wenz p:last-child{ margin-bottom:0;}	
		/*������ť*/
.button01{ overflow:hidden;  }
.button01 button{ width:100%; float:left; height:45px; line-height:45px; border:0; font-size:1.5rem; text-align:center;}
.button01 .bg-blue{ background:#ffb618; color:#fff; border-radius:0 0 6px 6px;}
	/*end ��װ����*/	
/*end mask*/

/*�򲻿�*/
.logo-q,.img-q{ width:100%;}
.logo-q img{ width:48%; margin:10px;}

.img-q img{ width:100%;}

.q-button{ width:100%; padding:0 2%; box-sizing:border-box; -webkit-box-sizing:border-box;}
.q-button button{ width:46%; margin:0 2% ;  float:left;  border-radius:6px; border:none; padding:3% 0; margin-top:10%; text-align:center; background:#fe4d4d; box-shadow:0 3px 0 #dc2929; color:#fff; font-size:1.4rem;}
/*end �򲻿�*/

/*��װ����*/
.problem-anz{  background: url(/data2/img-q02.jpg) center bottom #48b4ff no-repeat; background-size:100% auto; font-size:1.25rem; padding:5% 15px 15% 15px; line-height:2.4rem; color:#fff; }
.problem-anz h3{ width:100%; text-align:center;}
.problem-anz p{text-indent:22px;}

.problem-list{ width:100%; padding:0 10px; box-sizing:border-box; -webkit-box-sizing:border-box;}
.problem-list .list{display:table; width:100%; }
.border-bottom{ border-bottom:1px solid #e4e4e4; padding-bottom:20px; margin-bottom:20px; overflow:hidden;}
.problem-list .list > span,.problem-anz .list > div{ display:table-cell; vertical-align:top;}
.problem-list .list > span{  width:50px; text-align:center; padding-right:5px;}
.problem-list .list > span img{ height:24px;}
.problem-list .list > span i{ display:inline-block; text-align:center; width:35px; height:35px ; line-height:35px; background:#ffc000; border-radius:50%; font-size:2rem; color:#fff;}
.problem-list .list > div{ font-size:1.4rem; color:#3a3a3a; padding-right:20px;}
.problem-list .list > div button{ background:#48b4ff; border:none; color:#fff; border-radius:3px; padding:2% 0; width:48%; font-size:1.6rem; margin-top:20px;} 
/*end ��װ����*/


@media only screen and (max-width: 768px) {
html {
	font-size:75%;
}
}
@media only screen and (max-width: 435px) {
html {
	font-size:68.8%;
}
}
@media only screen and (max-width: 384px) {
html {
	font-size:68.8%;
}
}
@media only screen and (max-width: 375px) {
html {
	font-size:68.8%;
}
}
@media only screen and (max-width: 320px) {
html { 
	font-size:62.5%;
}
}

/*2017.11.1*/
.game-xx-banner .swiper-container {
    width: 100%;
    margin: 10px auto;
    padding: 0 0 20px 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}