
body{margin:0px; font-family:'Microsoft YaHei'; color:#484d4d;}
p, ul, li, dd, dl, dt, ol, h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, em{list-style:none; padding:0px; margin:0px; font-weight:normal; font-style:normal;}
i{font-style:normal}
a{color:#484d4d; font-family:'Microsoft YaHei';}
a:hover{color:#0077ff; transition:all ease-in-out .6s; -o-transition:all ease-in-out .6s; -ms-transition:all ease-in-out .6s; -moz-transition:all ease-in-out .6s; -webkit-transition:all ease-in-out .6s;}
a:link{text-decoration:none; font-family:'Microsoft YaHei';}
a:visited{COLOR:#707070;  text-decoration:none;}
a:active{color:#707070; text-decoration:none;}
.l{float:left;}
.r{float:right;}
input{font-family:"微软雅黑"; color:#666;}
.as{margin-top:-20px;}
.mt{margin-top:15px;}


/* 头部 */
.Head-Menu{background-color:rgba(255,255,255,0.95); width:100%; position:fixed; top:0; left:0; z-index:11; height:80px;}

.Head-Menu .m1200{position:relative; width:64%; margin:auto; background:#fff;}
.Head-Menu .logo{height:35px; width:217px; float:left; overflow:hidden; background:url(./Images/VV-Pic.png); margin-top:18px; font-size:14px;}
.Head-Menu .nav{float:left;}
.Head-Menu .nav li{float:left; position:relative;}
/*.Head-Menu .nav li:after{content:''; width:4px; height:4px; background-color:#999; border-radius:2px; position:absolute; right:0; top:39px;}*/
.Head-Menu .nav li:last-child:after{display:none;}
.Head-Menu .nav li a{font-size:16px; height:55px; line-height:65px; display:block; position:relative; margin-right:48px;}
.Head-Menu .nav li a:before{content:''; position:absolute; left:0; right:0; bottom:0; margin:auto; width:0px; height:2px; background:#0077ff; transition:0.3s;}
.Head-Menu .nav li a:hover:before,.Head-Menu .nav li a.on:before{width:100%;}
.Head-Menu .nav li a:hover,.Head-Menu .nav li a.on{color:#0077ff;}
.Head-Menu .Login-Box{overflow:hidden; float:right;margin-left: 10px;}
.Head-Menu .Login-Box a{display:block; padding-left:15px; margin-top:20px; padding-right:15px; overflow:hidden; padding-top:5px; padding-bottom:5px; background:#0077ff; border-radius:4px; color:#fff; font-size:1rem;}
.Head-Menu .Login-Box a:hover,.Head-Menu .User-Box a:hover{background:#fe8900;}
.Head-Menu .Register-Box{overflow:hidden; float:right;}
.Head-Menu .Register-Box a{display:block; padding-left:15px; margin-top:20px; padding-right:15px; overflow:hidden; padding-top:5px; padding-bottom:5px; background:#0077ff; border-radius:4px; color:#fff; font-size:1rem;}
.Head-Menu .Register-Box a:hover,.Head-Menu .User-Box a:hover{background:#fe8900;}
.Head-Menu .User-Box{overflow:hidden; float:right; color:#484d4d; font-size:14px; display:none; margin-top:20px; line-height:28px; height:28px;}
.Head-Menu .User-Box a{padding-left:15px; height:28px; margin-left:15px; padding-right:15px; overflow:hidden; padding-top:5px; padding-bottom:5px; background:#0077ff; border-radius:4px; color:#fff; font-size:1rem;}
.Head-Menu .User-Box span{color:#0077ff; padding-left:5px; padding-right:5px;}


.Head-Menu .Login-Box1{overflow:hidden; float:right;}
.Head-Menu .Login-Box1 a{display:block; padding-left:15px; padding-right:15px; overflow:hidden; padding-top:5px; padding-bottom:5px; background:#0077ff; border-radius:4px; color:#fff; font-size:14px;}
.Head-Menu .Login-Box1 a:hover,.Head-Menu .User-Box1 a:hover{background:#fe8900;}
.Head-Menu .User-Box1{overflow:hidden; float:right; color:#484d4d; font-size:14px; display:none; margin-top:20px; line-height:28px; height:28px;}
.Head-Menu .User-Box1 a{padding-left:15px; height:28px; margin-left:15px; padding-right:15px; overflow:hidden; padding-top:5px; padding-bottom:5px; background:#0077ff; border-radius:4px; color:#fff; font-size:14px;}
.Head-Menu .User-Box1 span{color:#0077ff; padding-left:5px; padding-right:5px;}


.Login-Link1{overflow:hidden;}
.Login-Link1 a,.Login-Link1 button{display:block; padding-left:15px; margin-left:20px; padding-right:15px; text-align:center; background:#0077ff; color:#fff; font-size:14px; border-radius:3px; margin-top:2px;}
.Login-Link1 a:hover,.Login-Link1 button:hover{background:#fe8900;}


/*登录弹层*/
.ClickMe{width:200px; height:30px; border:1px solid #c40000; background:#000; color:#fff; margin:0 auto}
.goodcover,.goodcover2{display:none; position:fixed; top:0%; left:0%; width:100%; height:100%; background:rgba(0,0,0,0.70); z-index:1000; -moz-opacity:.8;}
.code,.code2{overflow:hidden; background:#fff; border-radius:5px; padding:30px; position:fixed; display:none; left:45%; z-index:99999}
.code .Shut a,.code2 .Shut a{width:20px; height:20px; background:url(./Images/Shut.png) no-repeat center; display:block; margin-top:-15px; margin-right:-15px;}
.code .Shut a:hover,.code2 .Shut a:hover{background:url(./Images/ShutHover.png) no-repeat center; display:block; margin-top:-15px; margin-right:-15px;}
.closebt,.closebt2{float:right}
.goodtxt{text-align:center}
.goodtxt p{height:30px; line-height:30px; font-size:16px; color:#000; font-weight:600}
.code-img{width:250px; margin:30px auto 0; padding:10px}
.code-img img{width:240px}
/*登录输入框*/
.Login h1{color:#0077ff; font-size:20px; font-weight:bold; margin-bottom:15px;}
.Form{width:310px; height:40px; line-height:40px; margin-bottom:25px; position:relative; z-index:1; margin-top:10px;}

.Input{width:270px; height:38px; line-height:36px; padding-left:40px; border:1px solid #e6e6e6; border-radius:3px; position:absolute; z-index:2;}
.Input-Code{width:120px; height:38px; float:left; line-height:36px; padding-left:40px; border:1px solid #e6e6e6; border-radius:3px; position:absolute; z-index:2;}
.Form input:focus{outline:solid 1px #0077ff; border:0px; color:#0077ff; height:40px; border-radius:3px;}


.Input-Password{width:40px; height:40px; background:none; position:absolute; z-index:3; overflow:hidden; display:inline-block; right:0px;}
.togglePassword{z-index:3; position:absolute; right:1px;}
.Input-Password input[type=checkbox],.Input-Password input[type=radio ]{width:28px; height:40px; opacity:0; filter:"alpha(opacity=0)"; cursor:pointer;}
.Input-Password input[type=checkbox]+ label{display:inline-block; float:right; width:40px; background:url(./Images/ico-1.png) no-repeat -121px -78px; line-height:120px; opacity:1; font-size:1px;}
.Input-Password input[type=checkbox]:checked + label{background:url(./Images/ico-1.png) no-repeat -155px -78px;}
.Login-Link{width:310px; height:40px; line-height:40px; margin-top:10px;}
.Login-Link a,.Login-Link button{display:block; text-align:center; background:#0077ff; color:#fff; font-size:16px; border-radius:3px;}
.Login-Link a:hover,.Login-Link button:hover{background:#fe8900;}



.Account input{background:url(./Images/ico-1.png) #fff no-repeat -186px -81px;}
.Account input:focus{background:url(./Images/ico-1.png) #fff no-repeat -185px -120px;}
.PasswordBox input{background:url(./Images/ico-1.png) #fff no-repeat -186px -161px;}
.PasswordBox input:focus{background:url(./Images/ico-1.png) #fff no-repeat -185px -200px;}
.Verification input{background:url(./Images/ico-1.png) #fff no-repeat 10px -34px;}
.Verification input:focus{background:url(./Images/ico-1.png) #fff no-repeat 11px 11px;}
.Verification div,.Verification div img{float:right; width:100px; height:40px;}



.Check{width:180px; height:36px; background:none; position:absolute; z-index:3; overflow:hidden; display:inline-block; left:0px;}
.Check input[type=checkbox],.Check input[type=radio ]{width:128px; height:36px; opacity:0; filter:"alpha(opacity=0)"; cursor:pointer;}
.Check input[type=checkbox]+ label{display:inline-block; float:left; width:120px; color:#0077ff; padding-left:25px; background:url(./Images/ico-1.png) no-repeat -199px -277px; line-height:36px; opacity:1; font-size:1px;}
.Check input[type=checkbox]:checked + label{background:url(./Images/ico-1.png) no-repeat -199px -241px; color:#666;}
.Check-Password{z-index:3; position:absolute; left:1px;}
.reveal-modal .close-reveal-modal{font-size:32px; reveal-modal:6px; line-height:0.5; font-family:"宋体"; position:absolute; top:15px; right:31px; color:#333; text-shadow:0 -1px 1px rbga(0, 0, 0, .6); cursor:pointer;}
/*未输入提示*/
.form-group erroru, .form-group errorp{position:absolute; width:100%; left:0; top:92%; font-size:11px; color:#0077ff; font-weight:300; transition:0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all; -moz-transition:0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all; -webkit-transition:0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all; opacity:1;}
/*.form-group erroru i,.form-group errorp i,.form-group errored i{right:0; margin-top:12px; width:15px; height:15px; border-radius:50%; display:inline-block; float:right; color:#fff; border-radius:15px; background:#0077ff; text-align:center; line-height:15px;}*/
/*.form-group[errr] erroru, .form-group[errr] errorp, .form-group[errred] errored{opacity:1;}*/
/*.form-group errored{position:absolute; width:100%; left:0; top:92%; font-size:11px; color:red; font-weight:300; transition:0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all; -moz-transition:0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all; -webkit-transition:0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) all; opacity:0;}*/


/* 尾部版权 */
.Copyright{width:100%; height:100px; overflow:hidden; background:url(./Images/Copyright-Top-Bj.png) no-repeat;}
.Copyright .Copyright-Box{width:1200px; overflow:hidden; margin:auto; margin-top:20px; height:80px;}
.Copyright .Copyright-Box .Box-Left{/*width:590px;*/ width:1200px; font-size:14px; line-height:22px; float:left; overflow:hidden; text-align:center;}
.Copyright .Copyright-Box .Box-Right{width:541px; float:right; margin-top:10px;}
.Copyright .Copyright-Box .Box-Right ul{width:610px;}
.Copyright .Copyright-Box .Box-Right ul li{width:120px; height:40px; margin-right:20px; float:left; line-height:55px;}
.Copyright .Copyright-Box .Box-Right ul li img{width:120px;}


@media screen and (max-device-width: 700px) {
    .Head-Menu .Login-Box a{ font-size:1.1rem;}
    .Head-Menu .Register-Box a { font-size:1.1rem;}
    .Head-Menu .m1200{position:relative; width:90%; margin:auto; background:#fff;}
    .Form{width:500px; height:40px; line-height:40px; margin-bottom:25px; position:relative; z-index:1; margin-top:10px;}

}
